@box-color: rgb(99, 99, 99);
@background-color: rgb(141, 141, 141);

.container-fluid{
    background-color: @background-color;
    color: white;
    .material-symbols-outlined{
        color: white;
    }
}

h1{
    text-align: center;
    padding-top: 30pt;
}

h2{
    text-align: center;
}

.box{
    margin-top: 15pt;
    background-color: @box-color;
    margin-bottom: 100%;
    border-radius: 15pt;
    table{
        width: 100%;
        tr{
            border-bottom: 1pt white solid;
        }
        .deleteButton{
            padding: 5pt 15pt;
            margin: 5pt 0;
        }
        .subTable{
            border-style: none;
            .buttonCell{
                width: 20%;
            }
        }
    }
}
