<div class="container-fluid">
    <h1>Add new student</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <form [formGroup]="studentForm" (ngSubmit)="onSubmit(studentForm.value)">
                        <mat-form-field appearance="outline">
                            <mat-label>Neptun</mat-label>
                            <input matInput type="text" placeholder="Neptun" formControlName="neptun" required="true">
                            <mat-error *ngIf="neptun!.invalid">{{getNeptunErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" placeholder="Name" formControlName="name" required="true">
                            <mat-error *ngIf="name!.invalid">{{getNameErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Email" formControlName="email" required="true">
                            <mat-error *ngIf="email!.invalid">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Birth date</mat-label>
                            <input matInput type="date" formControlName="birth" required="true">
                            <mat-error *ngIf="email!.invalid">{{getBirthErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Department</mat-label>
                            <select matNativeControl required="true"formControlName="departmentOfStudent">
                                <option *ngFor="let it of departments">{{ it }}</option>
                            </select>
                            <mat-error *ngIf="email!.invalid">{{getDepartmentErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <br>
                        Subjects:
                        <div formArrayName="subjectIds">
                            <div *ngFor="let it of subjects">
                                <mat-checkbox [value]="it.name" (change)="onCheckChangeSubjects($event)">{{ it.name }}</mat-checkbox>
                            </div>
                        </div>
                        <br>
                        Roles:
                        <div formArrayName="roles">
                            <mat-checkbox [value]="ADMIN" (change)="onCheckChangeRoles($event)">ADMIN</mat-checkbox>
                            <mat-checkbox [value]="STUDENT" checked="true" disabled="true">STUDENT</mat-checkbox>
                        </div>
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" required="true">
                            <mat-error *ngIf="email!.invalid">{{getPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <br>
                        <a mat-button [routerLink]="['/students']"><span class="material-symbols-outlined">arrow_back_ios</span></a>
                        <button class="submitButton" mat-raised-button color="primary" type [disabled]="studentForm.invalid">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>