@box-color: rgb(77, 77, 77);
@background-color: rgb(141, 141, 141);

.container-fluid{
    background-color: @background-color;
    color: white;
}

.box{
    text-align: center;
}

.logo{
    font-size: 24pt;
    margin: 20pt 0;
}

.box a{
    text-decoration: none;
    padding: 0 15pt;
    margin-top: 15pt;
}

.wallpaper{
    background-image: url("~/src/assets/images/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.background{
    width: 100%;
}

h1{
    text-align: center;
    margin-top: 30pt;
}
