<h1>Subjects</h1>

<div class="container">
    <div class="row">
        <div class="col-11"></div>
        <div class="col-1">
            <a mat-button [routerLink]="['/subjects/create']"><span class="material-symbols-outlined">add_circle</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-card class="box">
                <mat-card-content>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Credit</th>
                            <th>Department</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr *ngFor="let it of subjects">
                            <td>{{ it.name }}</td>
                            <td>{{ it.code }}</td>
                            <td>{{ it.credit }}</td>
                            <td>{{ it.department }}</td>
                            <td><a mat-button [routerLink]="['/subjects/update', it.id]"><span class="material-symbols-outlined">edit</span></a></td>
                            <td><a (click)="onDeleteSubject(it)"><span class="material-symbols-outlined">delete</span></a></td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
