<h1>Students</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card class="box">
                <mat-card-content>
                    <table>
                        <tr>
                            <th>Neptun code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th>Subjects</th>
                        </tr>
                        <tr *ngFor="let it of students">
                            <td>{{ it.neptun }}</td>
                            <td>{{ it.name }}</td>
                            <td>{{ it.email }}</td>
                            <td>{{ it.department }}</td>
                            <td>{{ it.subjectNames }}</td>
                            <button class="deleteButton" (click)="onDeleteStudent(it)" mat-raised-button color="warn">Delete</button>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
