<h1>Instructors</h1>

<div class="container">
    <div class="row">
        <div class="col-11"></div>
        <div class="col-1">
            <a mat-button [routerLink]="['/instructors/create']"><span class="material-symbols-outlined">add_circle</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-card class="box">
                <mat-card-content>
                    <table>
                        <tr>
                            <th>Neptun code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Post</th>
                        </tr>
                        <tr *ngFor="let it of instructors">
                            <td><a mat-button [routerLink]="['/instructors', it.id]">{{ it.neptun }}</a></td>
                            <td><a mat-button [routerLink]="['/instructors', it.id]">{{ it.name }}</a></td>
                            <td><a mat-button [routerLink]="['/instructors', it.id]">{{ it.email }}</a></td>
                            <td><a mat-button [routerLink]="['/instructors', it.id]">{{ it.post }}</a></td>
                            <td><a (click)="onDeleteInstructor(it)"><span class="material-symbols-outlined">delete</span></a></td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
